body
{
}

h3
{
	text-align: center;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.right
{
    float: right;
    padding-left:5px;
    width: 60%;
    display: block;
}

.column 
{
    float: left;
    width: 33.33%;
    padding: 9px;
}

.text
{
    display:inline-block;
    left: -95px;
    width: 50%;
    position: relative;
    top: 100px;
}

.tools
{
    width: 10%;
    top: 80px;
    display: inline-block;
    position:relative;
    padding:80px;
}

.img
{
    width:.5rem
}

#div1, #div2{
    display: inline-block;
}

#p1, #p2, #p3, #p4{
    font-family: monospace; font-style: "Courier New";
    display:block;
    float:left;
    padding: 75px;
    width:200px;
    padding-left:5px;
    position:relative;
}

/* navigation panel */
#navigation {
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

/* navigation components */
.navigation {
    background-color: #0026ff;
    display: inline;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 12px;
    text-decoration: none;
}
