body
{
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img
{
    width:.5rem
}
/* navigation panel */
#navigation {
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

/* navigation components */
.navigation {
    background-color: #0026ff;
    display: inline;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 12px;
    text-decoration: none;
}
