body
{
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.right
{
    float: right;
    padding-left:5px;
    width: 60%;
    display: block;
}

.column 
{
	float: left;
	width: 33.33%;
	padding: 9px;
}

.img
{
    width:.5rem
}
/* navigation panel */
#navigation {
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

/* navigation components */
.navigation {
    background-color: #0026ff;
    display: inline;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 12px;
    text-decoration: none;
}
